body {
    padding-top: 120px;
}
.nav-bg {
    background: #fff;   
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #ddd; 
}

.about-the-group {
    margin-top: 70px;
    bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
.about-the-group .image {
width: 600px;
height: 700px;
}
.about-the-group .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.about-the-group-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0 30px;
    text-align: right;
}
.about-the-group-text button {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #00a7e1;
    border: none;
}
.about-the-group-text button:hover {
    background-color: #007aff;
}
.about-the-group-text h3 {
    color: #001b71;
}
.about-the-group-text h3 span {
    color: #00a7e1;
}

.about-the-group-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding: 0 30px;
    text-align: right;
}
.about-the-group-text button {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #00a7e1;
    border: none;
    margin-top: 15px; 
}
.caro {
    background: linear-gradient(90deg, #001b71, #00a7e1);
    
    padding: 100px;
}
.caro img {
    height: 100px;
}
.container-rate {
    margin: 100px;
}
.rate {
    background-color: #f1f7ff;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.rate span {
    color: #007aff;
}



    .myslide-2 .item-box {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    text-align: center;
    }

    .myslide-2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    }

    .myslide-2 h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    }

    .myslide-2 p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    }
    .footer {
    background-color: #001b71;
    
    }
    .communication a {
        margin-top: 20px;
        padding: 10px;
        color: white;
        background-color: #0d6efd;
        border-radius: 50%;
        text-decoration: none;
    }
    .communication a:hover {
        color: #001b71;
    }
    .links h3 {
        margin-top: 20px;
    }
.three  {
    list-style: none;
    padding-top: 10px;
}
.three li {
    margin-top: 20px;
}
.three li a {
    text-decoration: none;
    color: #fff;
    
}
.logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hope {
    background-color: #162f81;
    color: #fff;
}
