.header {
    background-image: url("https://hope-psy.org.sa/uploads/2025_02_23_10_42_02_lgan-algmaay.jpg");
    position: relative;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;

    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;

    flex-direction: row-reverse; /* هنا العكس */

}


 .header .Committees h3 {
    color: #007aff;
    margin: 0;
}

.header .Committees h6 {
    color: aliceblue;
    margin: 0;
    margin-top: 5px;
}

.inp label {
    color: aliceblue;
    margin-bottom: 5px;
    display: block;
}

.inp select {
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.con {
    margin-top: 80px;
    margin-bottom: 80px;
}
.policy-card:hover {
    background-color: #00a7e1;
    color: #ffffff;
}
.policy-card h4 {
    color: #001b71;
    font-size: 20px;
}
.policy-card h4:hover {
    color: #ffffff;
}
.policy-card p:hover {
    color: #ffffff;
}
.policy-card a {
    background-color:#00a7e1;
    color: #ffffff;
    border-radius: 20px;
    padding: 15px;
}
.policy-card a:hover {
    background-color: #001b71;
    color: #ffffff;
}
