.header {
        background-image: url();
    
    position: relative;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    display: flex;
    /* align-items: center; */
    z-index: 1;
    
    flex-direction: column;
}
.header h4 {
    padding-top: 50px;
    margin-right: 100px;
    color: #007aff;
}
.header h5 {
    color: aliceblue;
    margin-right: 100px;
}
.boss-wrapper {
  display: flex;
  justify-content: center; /* توسيط أفقي */
  align-items: center;     /* توسيط عمودي */
}
.boss {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001b71;
  width: 300px;
  height: 100px;
  background: white;
  text-align: center;
    border-radius: 35px 0;
}
.boss:hover {
    background-color: #007aff;
    color: aliceblue;
}