.header {
    background-image: url("https://hope-psy.org.sa/uploads/2024_05_05_11_37_02_mn-nhn.png");
    
    position: relative;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    display: flex;
    /* align-items: center; */
    z-index: 1;
    
    flex-direction: column;
}
.header h1{
    padding-top: 50px;
margin-right: 100px;
color: aliceblue;
}
.header h1 span {
    color: #00ccff;
}
.header h3 {
    color: #fff;
    margin-right: 100px;
}

    .member-card {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
    margin-bottom: 20px;
    }

    .member-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    }

    .member-card h4 {
    font-size: 18px;
    font-weight: bold;
    }

    .member-card p {
    font-size: 15px;
    color: #555;
    margin: 0;
    }

