.header {
    background-image: url("	https://hope-psy.org.sa/uploads/2024_06_04_10_22_25_altothyf.png");
    
    position: relative;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    display: flex;

    z-index: 1;

    flex-direction: column;
}
.header h3 {
    padding-top: 50px;
    margin-right: 100px;
    color: aliceblue;
}
.header h5 {
    color: aliceblue;
    margin-right: 100px;
}

        body {
            background: #f8f9fa;
            font-family: "Tajawal", sans-serif;
        }
        .form-box {
            background: white;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 0 15px #00000015;
            text-align: end;
        }
        input, textarea, select {
            border-radius: 15px !important;
            padding: 12px !important;
        }
        label {
            font-weight: bold;
        }
        .btn-main {
            background-color: #009FE3;
            color: white;
            padding: 10px 40px;
            border-radius: 15px;
            font-size: 18px;
            border: none;
        }
        .btn-main:hover {
            background-color: #001b71;
        }
        .btn-cancel {
            background: #ffffff;
            border: 2px solid #ddd;
            padding: 10px 40px;
            border-radius: 15px;
            font-size: 18px;
            border: none;
        }
        .btn-cancel:hover {
            background-color: #001b71;
            color: #ddd;
        }