.header {
    background-image: url("https://hope-psy.org.sa/uploads/2024_05_05_11_51_10_alhykl-altnthymy.png") ;
        position: relative;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    display: flex;
    /* align-items: center; */
    z-index: 1;
    
    flex-direction: column;
}
.header h3 {
    padding-top: 50px;
    margin-right: 100px;
    color: rgb(45, 151, 188);
}
.header h3 span {
    color: aliceblue;
}
.text h3 {
    color: #001b71;
}
.text p {
    font-size: 15px;
    opacity: 0.5;
}
.kingdom h3 {
    color: #00a7e1;
}
.kingdom p {
    font-size: 15px;
    opacity: 0.5;
}